# Your Name Here

## Research question/interests


The purpose is to find how major events cause changes to the overall grades. Events such as the pandemic shutdown of in-person classes and busdriver strikes. Also I'm curious if it is possible to see that there is some sort of event during a semester based off the grades alone without prior knowledge of the event.

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns 
import os
import glob
import csv

datafile = pd.read_csv(r'C:\Users\crisp\301\project-group27\data\raw\Data.csv')
datafile

C:\Users\crisp\AppData\Local\Temp\ipykernel_5996\2918451158.py:9: DtypeWarning: Columns (2,5,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  datafile = pd.read_csv(r'C:\Users\crisp\301\project-group27\data\raw\Data.csv')

,Source File,Campus,Year,Session,Subject,Course,Column6,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
0,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,98B,INST TECH TEA AD,NaN,...,0,0,0,0,0,0,0,0,0,0
1,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,GIS,INST TECH TEA AD,NaN,...,0,0,0,0,0,0,0,1,3,6
2,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,OVERALL,INST TECH TEA AD,,...,0,0,0,0,0,0,0,1,3,6
3,UBC-1996S-ADED.csv,UBC,1996,S,ADED,328,,OVERALL,INSTIT ADULT ED,,...,0,0,0,0,0,0,0,1,0,1
4,UBC-1996S-ADED.csv,UBC,1996,S,ADED,329,,98A,DEV CRS WKSP SMS,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335380,UBC-2018W-VANT.csv,Campus,Year,Session,Subject,Course,Detail,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
335381,UBC-2018W-VISA.csv,Campus,Year,Session,Subject,Course,Detail,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
335382,UBC-2018W-WOOD.csv,Campus,Year,Session,Subject,Course,Detail,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
335383,UBC-2018W-WRDS.csv,Campus,Year,Session,Subject,Course,Detail,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
335384,UBC-2018W-ZOOL.csv,Campus,Year,Session,Subject,Course,Detail,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100

# Milestone 3
Task 1

In [25]:
datafile.shape

(335385, 36)

In [26]:
datafile.head()

,Source File,Campus,Year,Session,Subject,Course,Column6,Section,Title,Professor,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
0,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,98B,INST TECH TEA AD,NaN,...,0,0,0,0,0,0,0,0,0,0
1,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,GIS,INST TECH TEA AD,NaN,...,0,0,0,0,0,0,0,1,3,6
2,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,OVERALL,INST TECH TEA AD,,...,0,0,0,0,0,0,0,1,3,6
3,UBC-1996S-ADED.csv,UBC,1996,S,ADED,328,,OVERALL,INSTIT ADULT ED,,...,0,0,0,0,0,0,0,1,0,1
4,UBC-1996S-ADED.csv,UBC,1996,S,ADED,329,,98A,DEV CRS WKSP SMS,NaN,...,0,0,0,0,0,0,0,0,0,0

In [27]:
datafile.columns

Index(['Source File', 'Campus', 'Year', 'Session', 'Subject', 'Course',
       'Column6', 'Section', 'Title', 'Professor', 'Enrolled', 'Average',
       'Std dev', 'High', 'Low', 'Pass', 'Fail', 'Withdrew', 'Audit', 'Other',
       '0-9', '10-19', '20-29', '30-39', '40-49', '<50', '50-54', '55-59',
       '60-63', '64-67', '68-71', '72-75', '76-79', '80-84', '85-89',
       '90-100'],
      dtype='object')

In [31]:
datafile.nunique(axis=0)

Source File     7836
Campus             2
Year              25
Session            3
Subject          327
Course          1087
Column6           31
Section         1360
Title          10840
Professor      12872
Enrolled        1804
Average         7296
Std dev         5771
High              96
Low              202
Pass            1671
Fail             307
Withdrew         159
Audit             39
Other            754
0-9               66
10-19             40
20-29             60
30-39            121
40-49            228
<50              307
50-54            240
55-59            289
60-63            314
64-67            358
68-71            434
72-75            453
76-79            435
80-84            497
85-89            374
90-100           385
dtype: int64

In [32]:
datafile.Campus.unique()

array(['UBC', 'Campus'], dtype=object)

In [29]:
datafile.Year.unique()

array([1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       '2017', '2018', 'Year'], dtype=object)

With this particuler piece of data it shows all the years that the data encompasses. It is useful to show the year for plotting the data year after year

In [30]:
datafile.Subject.unique()

array(['ADED', 'AGEC', 'ANAT', 'ANSC', 'ANTH', 'APSC', 'ARCH', 'ARST',
       'ARTE', 'ASIA', 'ASTR', 'ATSC', 'AUDI', 'BA  ', 'BAAC', 'BABS',
       'BAEN', 'BAFI', 'BAHR', 'BAIM', 'BAIT', 'BAMA', 'BAPA', 'BASM',
       'BATL', 'BAUL', 'BIOC', 'BIOE', 'BIOL', 'BOTA', 'BUED', 'CHEM',
       'CHIN', 'CHML', 'CIVL', 'CLST', 'CNPS', 'COMM', 'CPSC', 'CRWR',
       'CSED', 'CUST', 'DENT', 'EADM', 'ECED', 'ECON', 'EDCI', 'EDST',
       'EDUC', 'ELEC', 'ENED', 'ENGL', 'EPSE', 'FILM', 'FINA', 'FMPR',
       'FMSC', 'FMST', 'FOOD', 'FREN', 'FRST', 'GENE', 'GEOG', 'GEOL',
       'GEOP', 'GEPA', 'GERM', 'HCEP', 'HIED', 'HIST', 'HKIN', 'HMED',
       'HUNU', 'INDS', 'ITAL', 'JAPN', 'LANE', 'LATN', 'LAW ', 'LIBE',
       'LIBR', 'LING', 'MAED', 'MATH', 'MECH', 'MEDG', 'MEDI', 'MICB',
       'MLED', 'MMAT', 'MMPE', 'MRNE', 'MUED', 'MUSC', 'NRSC', 'NURS',
       'OBST', 'OCCH', 'OCGY', 'ORBI', 'PATH', 'PCTH', 'PHAR', 'PHIL',
       'PHYS', 'PLAN', 'PLNT', 'POLI', 'PSYC', 'PUNJ', 'READ', 'RELG',
       'RHSC', 'RMES', 'RUSS', 'SCED', 'SOCI', 'SOIL', 'SOWK', 'SPAN',
       'SSED', 'STAT', 'THTR', 'TSED', 'URST', 'WMST', 'WOOD', 'ZOOL',
       'AGSC', 'ANAE', 'ARBC', 'ARTS', 'ASTU', 'BALA', 'BAMS', 'BATM',
       'CDSC', 'CDST', 'COML', 'CONS', 'ENVR', 'ERTH', 'EXCH', 'FISH',
       'FNLG', 'FOPR', 'FPEN', 'FRSI', 'GREK', 'HCET', 'HEBR', 'HIND',
       'HMEC', 'INDE', 'INDO', 'ITST', 'KORN', 'LARC', 'MDVL', 'MEDH',
       'OMSS', 'OPTH', 'ORPA', 'PAED', 'PETE', 'PHYL', 'POLS', 'PORT',
       'PSYT', 'RADI', 'RGLT', 'RSOT', 'RSPT', 'SANS', 'SCAN', 'SCIE',
       'SLAV', 'SURG', 'URDU', 'WRIT', 'DPAS', 'EMER', 'EOSC', 'FMED',
       'ORNT', 'PRIN', 'SOAL', 'FEBC', 'HINU', 'ISCI', 'JRNL', 'LAST',
       'OBMS', 'OHS ', 'SEAL', 'BUSI', 'CICS', 'DERM', 'EECE', 'RMST',
       'AGRO', 'CHBE', 'CSIS', 'FDNS', 'FNH ', 'FRE ', 'IAR ', 'IEST',
       'IHHS', 'LLED', 'PPEN', 'CCST', 'COGS', 'CSPW', 'DRAM', 'FNSP',
       'HECO', 'HXAH', 'HXEC', 'HXEN', 'HXHI', 'HXPY', 'RGLA', 'GRS ',
       'VRHC', 'CENS', 'DHYG', 'ENDS', 'ETEC', 'HCEC', 'HXGY', 'HXMA',
       'HXPC', 'HXPS', 'HXSP', 'MIDW', 'ARTH', 'CHIL', 'VISA', 'ADHE',
       'BRDG', 'CNRS', 'HXGM', 'HXPH', 'MINE', 'BASC', 'MTRL', 'NEST',
       'CCFI', 'HXDR', 'HXFR', 'HXWR', 'LFS ', 'ONCO', 'SWFS', 'AFST',
       'BASD', 'BIOF', 'FIPR', 'FIST', 'HXFL', 'HXRE', 'TIBT', 'ASIC',
       'CELL', 'COHR', 'HESO', 'HXMU', 'EMBA', 'FACT', 'SPHA', 'SPPH',
       'APBI', 'CEEN', 'GEOB', 'LASO', 'URO ', 'EDCP', 'BAHC', 'BMEG',
       'GSAT', 'ENPH', 'IGEN', 'PERS', 'KIN ', 'PHTH', 'STS ', 'CAPS',
       'AANB', 'DANI', 'GRSJ', 'HGSE', 'NAME', 'SWED', 'ARCL', 'CLCH',
       'FHIS', 'UDES', 'VANT', 'WRDS', 'APPP', 'CNTO', 'COEC', 'CPEN',
       'FNEL', 'FNIS', 'GBPR', 'GPP ', 'INFO', 'IWME', 'LAIS', 'MEDD',
       'PHRM', 'UFOR', 'URSY', 'MGMT', 'RES ', 'ACAM', 'DSCI', 'DMED',
       'GEM ', 'COMR', 'HPB ', 'LWS ', 'OSOT', 'INLB', 'Subject'],
      dtype=object)

This data is useful for figuring out which courses have the greatest disparity between years compared to others