# Your Name Here

## Research question/interests


The purpose is to find how major events cause changes to the overall grades. Events such as the pandemic shutdown of in-person classes and busdriver strikes. Also I'm curious if it is possible to see that there is some sort of event during a semester based off the grades alone without prior knowledge of the event.

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns 
import os
import glob
import csv

datafile = pd.read_csv(r'C:\Users\crisp\301\project-group27\data\raw\All_Data.csv')
datafile

C:\Users\crisp\AppData\Local\Temp\ipykernel_5996\1341494383.py:9: DtypeWarning: Columns (3,6,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  datafile = pd.read_csv(r'C:\Users\crisp\301\project-group27\data\raw\All_Data.csv')

,Source.Name,SourceFile,Campus,Year,Session,Subject,Course,Remove,Section,Title,...,'50-54,'55-59,'60-63,'64-67,'68-71,'72-75,'76-79,'80-84,'85-89,'90-100
0,DataUBC.csv,Source File,Campus,Year,Session,Subject,Course,Column6,Section,Title,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
1,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,98B,INST TECH TEA AD,...,0,0,0,0,0,0,0,0,0,0
2,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,GIS,INST TECH TEA AD,...,0,0,0,0,0,0,0,1,3,6
3,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,OVERALL,INST TECH TEA AD,...,0,0,0,0,0,0,0,1,3,6
4,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,328,,OVERALL,INSTIT ADULT ED,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364076,DataUBCOFull.csv,UBCO-2021W-WRLD.csv,UBCO,2021,W,WRLD,360,NaN,OVERALL,Literature and Power,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364077,DataUBCOFull.csv,UBCO-2021W-WRLD.csv,UBCO,2021,W,WRLD,370,NaN,001,Story and Image Across the Islamic World,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364078,DataUBCOFull.csv,UBCO-2021W-WRLD.csv,UBCO,2021,W,WRLD,370,NaN,OVERALL,Story and Image Across the Islamic World,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364079,DataUBCOFull.csv,UBCO-2021W-WRLD.csv,UBCO,2021,W,WRLD,480,NaN,001,Modern Japanese Literature and the Invention o...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364080,DataUBCOFull.csv,UBCO-2021W-WRLD.csv,UBCO,2021,W,WRLD,480,NaN,OVERALL,Modern Japanese Literature and the Invention o...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Milestone 3
Task 1

In [34]:
datafile.shape

(364081, 37)

In [35]:
datafile.head()

,Source.Name,SourceFile,Campus,Year,Session,Subject,Course,Remove,Section,Title,...,'50-54,'55-59,'60-63,'64-67,'68-71,'72-75,'76-79,'80-84,'85-89,'90-100
0,DataUBC.csv,Source File,Campus,Year,Session,Subject,Course,Column6,Section,Title,...,50-54,55-59,60-63,64-67,68-71,72-75,76-79,80-84,85-89,90-100
1,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,98B,INST TECH TEA AD,...,0,0,0,0,0,0,0,0,0,0
2,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,GIS,INST TECH TEA AD,...,0,0,0,0,0,0,0,1,3,6
3,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,327,,OVERALL,INST TECH TEA AD,...,0,0,0,0,0,0,0,1,3,6
4,DataUBC.csv,UBC-1996S-ADED.csv,UBC,1996,S,ADED,328,,OVERALL,INSTIT ADULT ED,...,0,0,0,0,0,0,0,1,0,1

In [36]:
datafile.columns

Index(['Source.Name', 'SourceFile', 'Campus', 'Year', 'Session', 'Subject',
       'Course', 'Remove', 'Section', 'Title', 'Professor', 'Enrolled',
       'Average', 'Std Dev', 'High', 'Low', 'Pass', 'Fail', 'Withdrew',
       'Audit', 'Other', ''0-9', ''10-19', ''20-29', ''30-39', ''40-49', '<50',
       ''50-54', ''55-59', ''60-63', ''64-67', ''68-71', ''72-75', ''76-79',
       ''80-84', ''85-89', ''90-100'],
      dtype='object')

In [37]:
datafile.nunique(axis=0)

Source.Name        3
SourceFile      8994
Campus             4
Year              35
Session            3
Subject          367
Course          1133
Remove            32
Section         1502
Title          15936
Professor      21487
Enrolled        1998
Average        16512
Std Dev        18066
High             293
Low              297
Pass            1758
Fail             356
Withdrew         194
Audit            127
Other            785
'0-9             167
'10-19           184
'20-29           193
'30-39           241
'40-49           292
<50              386
'50-54           286
'55-59           357
'60-63           338
'64-67           379
'68-71           458
'72-75           474
'76-79           454
'80-84           524
'85-89           390
'90-100          394
dtype: int64

In [38]:
datafile.Campus.unique()

array(['Campus', 'UBC', 'UBCO', 'UBCV'], dtype=object)

In [39]:
datafile.Year.unique()

array(['Year', '1996', '1997', 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, '2017', '2018', '2021', '2022', '2014', '2015',
       '2016', '2019', '2020', 2020, 2021], dtype=object)

With this particuler piece of data it shows all the years that the data encompasses. It is useful to show the year for plotting the data year after year

In [40]:
datafile.Subject.unique()

array(['Subject', 'ADED', 'AGEC', 'ANAT', 'ANSC', 'ANTH', 'APSC', 'ARCH',
       'ARST', 'ARTE', 'ASIA', 'ASTR', 'ATSC', 'AUDI', 'BA  ', 'BAAC',
       'BABS', 'BAEN', 'BAFI', 'BAHR', 'BAIM', 'BAIT', 'BAMA', 'BAPA',
       'BASM', 'BATL', 'BAUL', 'BIOC', 'BIOE', 'BIOL', 'BOTA', 'BUED',
       'CHEM', 'CHIN', 'CHML', 'CIVL', 'CLST', 'CNPS', 'COMM', 'CPSC',
       'CRWR', 'CSED', 'CUST', 'DENT', 'EADM', 'ECED', 'ECON', 'EDCI',
       'EDST', 'EDUC', 'ELEC', 'ENED', 'ENGL', 'EPSE', 'FILM', 'FINA',
       'FMPR', 'FMSC', 'FMST', 'FOOD', 'FREN', 'FRST', 'GENE', 'GEOG',
       'GEOL', 'GEOP', 'GEPA', 'GERM', 'HCEP', 'HIED', 'HIST', 'HKIN',
       'HMED', 'HUNU', 'INDS', 'ITAL', 'JAPN', 'LANE', 'LATN', 'LAW ',
       'LIBE', 'LIBR', 'LING', 'MAED', 'MATH', 'MECH', 'MEDG', 'MEDI',
       'MICB', 'MLED', 'MMAT', 'MMPE', 'MRNE', 'MUED', 'MUSC', 'NRSC',
       'NURS', 'OBST', 'OCCH', 'OCGY', 'ORBI', 'PATH', 'PCTH', 'PHAR',
       'PHIL', 'PHYS', 'PLAN', 'PLNT', 'POLI', 'PSYC', 'PUNJ', 'READ',
       'RELG', 'RHSC', 'RMES', 'RUSS', 'SCED', 'SOCI', 'SOIL', 'SOWK',
       'SPAN', 'SSED', 'STAT', 'THTR', 'TSED', 'URST', 'WMST', 'WOOD',
       'ZOOL', 'AGSC', 'ANAE', 'ARBC', 'ARTS', 'ASTU', 'BALA', 'BAMS',
       'BATM', 'CDSC', 'CDST', 'COML', 'CONS', 'ENVR', 'ERTH', 'EXCH',
       'FISH', 'FNLG', 'FOPR', 'FPEN', 'FRSI', 'GREK', 'HCET', 'HEBR',
       'HIND', 'HMEC', 'INDE', 'INDO', 'ITST', 'KORN', 'LARC', 'MDVL',
       'MEDH', 'OMSS', 'OPTH', 'ORPA', 'PAED', 'PETE', 'PHYL', 'POLS',
       'PORT', 'PSYT', 'RADI', 'RGLT', 'RSOT', 'RSPT', 'SANS', 'SCAN',
       'SCIE', 'SLAV', 'SURG', 'URDU', 'WRIT', 'DPAS', 'EMER', 'EOSC',
       'FMED', 'ORNT', 'PRIN', 'SOAL', 'FEBC', 'HINU', 'ISCI', 'JRNL',
       'LAST', 'OBMS', 'OHS ', 'SEAL', 'BUSI', 'CICS', 'DERM', 'EECE',
       'RMST', 'AGRO', 'CHBE', 'CSIS', 'FDNS', 'FNH ', 'FRE ', 'IAR ',
       'IEST', 'IHHS', 'LLED', 'PPEN', 'CCST', 'COGS', 'CSPW', 'DRAM',
       'FNSP', 'HECO', 'HXAH', 'HXEC', 'HXEN', 'HXHI', 'HXPY', 'RGLA',
       'GRS ', 'VRHC', 'CENS', 'DHYG', 'ENDS', 'ETEC', 'HCEC', 'HXGY',
       'HXMA', 'HXPC', 'HXPS', 'HXSP', 'MIDW', 'ARTH', 'CHIL', 'VISA',
       'ADHE', 'BRDG', 'CNRS', 'HXGM', 'HXPH', 'MINE', 'BASC', 'MTRL',
       'NEST', 'CCFI', 'HXDR', 'HXFR', 'HXWR', 'LFS ', 'ONCO', 'SWFS',
       'AFST', 'BASD', 'BIOF', 'FIPR', 'FIST', 'HXFL', 'HXRE', 'TIBT',
       'ASIC', 'CELL', 'COHR', 'HESO', 'HXMU', 'EMBA', 'FACT', 'SPHA',
       'SPPH', 'APBI', 'CEEN', 'GEOB', 'LASO', 'URO ', 'EDCP', 'BAHC',
       'BMEG', 'GSAT', 'ENPH', 'IGEN', 'PERS', 'KIN ', 'PHTH', 'STS ',
       'CAPS', 'AANB', 'DANI', 'GRSJ', 'HGSE', 'NAME', 'SWED', 'ARCL',
       'CLCH', 'FHIS', 'UDES', 'VANT', 'WRDS', 'APPP', 'CNTO', 'COEC',
       'CPEN', 'FNEL', 'FNIS', 'GBPR', 'GPP ', 'INFO', 'IWME', 'LAIS',
       'MEDD', 'PHRM', 'UFOR', 'URSY', 'MGMT', 'RES ', 'ACAM', 'DSCI',
       'DMED', 'GEM ', 'COMR', 'HPB ', 'LWS ', 'OSOT', 'INLB', 'COSC',
       'CULT', 'DATA', 'EESC', 'ENGR', 'HEAL', 'HINT', 'HMKN', 'INDG',
       'JPST', 'NRSG', 'PSYO', 'SOCW', 'WRLD', 'CORH', 'DIHU', 'GISC',
       'GWST', 'INLG', 'MANF', 'MDST', 'NSYL', 'NEPL', 'PPGA', 'BEST',
       'COLX', 'ECPS', 'ENVE', 'FCOR', 'FOPE', 'GEOS', 'MANU', 'RGST',
       'THFL', 'EAP', 'CCS', 'ENVI', 'IGS', 'SUST', 'HES'], dtype=object)

This data is useful for figuring out which courses have the greatest disparity between years compared to others